### vs code ###
.vscode/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.venv

### JS ###
# dependencies
node_modules/

# next.js
.next/
out/

# env files (can opt-in for committing if needed)
.env*

# compiled output
dist/
build/
